

body {
  background-color: #696969;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.simonBoard {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  margin-top: 150px;
  border: solid 5px black;
  border-radius: 300px;
}
